<a href="https://www.kaggle.com/code/chandruuk/flight-prediction-eda?scriptVersionId=106406751" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_df=pd.read_excel('../input/flight-prediction/Data_Train.xlsx')
test_df=pd.read_excel('../input/flight-prediction/Data_Train.xlsx')

In [3]:
train_df.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [5]:
train_df.shape

(10683, 11)

In [6]:
test_df.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [7]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [8]:
test_df.shape

(10683, 11)

In [9]:
final_df=train_df.append(test_df)
final_df.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [10]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21366 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          21366 non-null  object
 1   Date_of_Journey  21366 non-null  object
 2   Source           21366 non-null  object
 3   Destination      21366 non-null  object
 4   Route            21364 non-null  object
 5   Dep_Time         21366 non-null  object
 6   Arrival_Time     21366 non-null  object
 7   Duration         21366 non-null  object
 8   Total_Stops      21364 non-null  object
 9   Additional_Info  21366 non-null  object
 10  Price            21366 non-null  int64
dtypes: int64(1), object(10)
memory usage: 2.0+ MB

### Feature Engineering Process

In [11]:
final_df['Date']=final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month']=final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year']=final_df['Date_of_Journey'].str.split('/').str[2]

In [12]:
final_df.drop('Date_of_Journey',axis=1,inplace=True)

In [13]:
final_df.head(5)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,06,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,05,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,01,03,2019

In [14]:
final_df['Date']=final_df['Date'].astype(int)
final_df['Month']=final_df['Month'].astype(int)
final_df['Year']=final_df['Year'].astype(int)

In [15]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21366 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          21366 non-null  object
 1   Source           21366 non-null  object
 2   Destination      21366 non-null  object
 3   Route            21364 non-null  object
 4   Dep_Time         21366 non-null  object
 5   Arrival_Time     21366 non-null  object
 6   Duration         21366 non-null  object
 7   Total_Stops      21364 non-null  object
 8   Additional_Info  21366 non-null  object
 9   Price            21366 non-null  int64
 10  Date             21366 non-null  int64
 11  Month            21366 non-null  int64
 12  Year             21366 non-null  int64
dtypes: int64(4), object(9)
memory usage: 2.3+ MB

In [16]:
final_df['Arrival_Time']=final_df['Arrival_Time'].apply(lambda x: x.split(' ')[0])

In [17]:
final_df.head(5)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019

In [18]:
final_df.isnull().sum()

Airline            0
Source             0
Destination        0
Route              2
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        2
Additional_Info    0
Price              0
Date               0
Month              0
Year               0
dtype: int64

In [19]:
final_df['Arrial_Time_Hour']=final_df['Arrival_Time'].apply(lambda x: x.split(':')[0])
final_df['Arrial_Time_Min']=final_df['Arrival_Time'].apply(lambda x: x.split(':')[1])

In [20]:
final_df.drop('Arrival_Time',axis=1,inplace=True)

In [21]:
final_df['Arrial_Time_Hour']=final_df['Arrial_Time_Hour'].astype(int)
final_df['Arrial_Time_Min']=final_df['Arrial_Time_Min'].astype(int)

In [22]:
final_df['Dep_Time_Hour']=final_df['Dep_Time'].apply(lambda x: x.split(':')[0])
final_df['Dep_Time_Min']=final_df['Dep_Time'].apply(lambda x: x.split(':')[1])

In [23]:
final_df.drop('Dep_Time',axis=1,inplace=True)

In [24]:
final_df['Dep_Time_Hour']=final_df['Dep_Time_Hour'].astype(int)
final_df['Dep_Time_Min']=final_df['Dep_Time_Min'].astype(int)

In [25]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21366 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           21366 non-null  object
 1   Source            21366 non-null  object
 2   Destination       21366 non-null  object
 3   Route             21364 non-null  object
 4   Duration          21366 non-null  object
 5   Total_Stops       21364 non-null  object
 6   Additional_Info   21366 non-null  object
 7   Price             21366 non-null  int64
 8   Date              21366 non-null  int64
 9   Month             21366 non-null  int64
 10  Year              21366 non-null  int64
 11  Arrial_Time_Hour  21366 non-null  int64
 12  Arrial_Time_Min   21366 non-null  int64
 13  Dep_Time_Hour     21366 non-null  int64
 14  Dep_Time_Min      21366 non-null  int64
dtypes: int64(8), object(7)
memory usage: 2.6+ MB

In [26]:
final_df.head(3)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrial_Time_Hour,Arrial_Time_Min,Dep_Time_Hour,Dep_Time_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,2019,4,25,9,25

In [27]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [28]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0,'2 stops':2,'1 stop':1,'3 stops':3,'4 stops':4,'nan':1})

In [29]:
final_df.head(5)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrial_Time_Hour,Arrial_Time_Min,Dep_Time_Hour,Dep_Time_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2.0,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2.0,No info,13882,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1.0,No info,6218,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1.0,No info,13302,1,3,2019,21,35,16,50

In [30]:
final_df[final_df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrial_Time_Hour,Arrial_Time_Min,Dep_Time_Hour,Dep_Time_Min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480,6,5,2019,9,25,9,45
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480,6,5,2019,9,25,9,45

In [31]:
final_df.drop('Route',axis=1,inplace=True)

In [32]:
final_df.head(3)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrial_Time_Hour,Arrial_Time_Min,Dep_Time_Hour,Dep_Time_Min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882,9,6,2019,4,25,9,25

In [33]:
final_df['Durattion_Hour']=final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [34]:
final_df.drop(6474,axis=0,inplace=True)
final_df.drop(2660,axis=0,inplace=True)

In [35]:
final_df['Durattion_Hour']=final_df['Durattion_Hour'].astype('int')

In [36]:
final_df['Durattion_Min']=final_df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [37]:
final_df['Durattion_Hour'] = final_df['Durattion_Hour'].apply(lambda x: x*60)

In [38]:
final_df['Durattion_Min'].isnull().sum()

2060

In [39]:
final_df['Durattion_Min'].unique()

array(['50', '25', nan, '45', '30', '5', '15', '35', '10', '20', '55',
       '40'], dtype=object)

In [40]:
final_df['Durattion_Min'].fillna(final_df['Durattion_Min'].mode()[0], inplace=True)

In [41]:
final_df['Durattion_Min'].isnull().sum()

0

In [42]:
final_df['Durattion_Min'].unique()

array(['50', '25', '30', '45', '5', '15', '35', '10', '20', '55', '40'],
      dtype=object)

In [43]:
final_df['Durattion_Min']=final_df['Durattion_Min'].astype('int')

In [44]:
sum_column = final_df['Durattion_Hour']+ final_df['Durattion_Min']
final_df["Total_Duration"] = sum_column

In [45]:
final_df.drop('Duration',axis=1,inplace=True)

In [46]:
final_df.head(3)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrial_Time_Hour,Arrial_Time_Min,Dep_Time_Hour,Dep_Time_Min,Durattion_Hour,Durattion_Min,Total_Duration
0,IndiGo,Banglore,New Delhi,0.0,No info,3897,24,3,2019,1,10,22,20,120,50,170
1,Air India,Kolkata,Banglore,2.0,No info,7662,1,5,2019,13,15,5,50,420,25,445
2,Jet Airways,Delhi,Cochin,2.0,No info,13882,9,6,2019,4,25,9,25,1140,30,1170

In [47]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21362 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           21362 non-null  object
 1   Source            21362 non-null  object
 2   Destination       21362 non-null  object
 3   Total_Stops       21360 non-null  float64
 4   Additional_Info   21362 non-null  object
 5   Price             21362 non-null  int64
 6   Date              21362 non-null  int64
 7   Month             21362 non-null  int64
 8   Year              21362 non-null  int64
 9   Arrial_Time_Hour  21362 non-null  int64
 10  Arrial_Time_Min   21362 non-null  int64
 11  Dep_Time_Hour     21362 non-null  int64
 12  Dep_Time_Min      21362 non-null  int64
 13  Durattion_Hour    21362 non-null  int64
 14  Durattion_Min     21362 non-null  int64
 15  Total_Duration    21362 non-null  int64
dtypes: float64(1), int64(11), object(4)
memory usage: 2.8+ MB

In [48]:
from sklearn.preprocessing import LabelEncoder
labelEncoder=LabelEncoder()

In [49]:
final_df['Airline']=labelEncoder.fit_transform(final_df['Airline'])
final_df['Source']=labelEncoder.fit_transform(final_df['Source'])
final_df['Destination']=labelEncoder.fit_transform(final_df['Destination'])
final_df['Additional_Info']=labelEncoder.fit_transform(final_df['Additional_Info'])

In [50]:
final_df.shape

(21362, 16)

In [51]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21362 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           21362 non-null  int64
 1   Source            21362 non-null  int64
 2   Destination       21362 non-null  int64
 3   Total_Stops       21360 non-null  float64
 4   Additional_Info   21362 non-null  int64
 5   Price             21362 non-null  int64
 6   Date              21362 non-null  int64
 7   Month             21362 non-null  int64
 8   Year              21362 non-null  int64
 9   Arrial_Time_Hour  21362 non-null  int64
 10  Arrial_Time_Min   21362 non-null  int64
 11  Dep_Time_Hour     21362 non-null  int64
 12  Dep_Time_Min      21362 non-null  int64
 13  Durattion_Hour    21362 non-null  int64
 14  Durattion_Min     21362 non-null  int64
 15  Total_Duration    21362 non-null  int64
dtypes: float64(1), int64(15)
memory usage: 2.8 MB

In [52]:
final_df.head(5)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrial_Time_Hour,Arrial_Time_Min,Dep_Time_Hour,Dep_Time_Min,Durattion_Hour,Durattion_Min,Total_Duration
0,3,0,5,0.0,8,3897,24,3,2019,1,10,22,20,120,50,170
1,1,3,0,2.0,8,7662,1,5,2019,13,15,5,50,420,25,445
2,4,2,1,2.0,8,13882,9,6,2019,4,25,9,25,1140,30,1170
3,3,3,0,1.0,8,6218,12,5,2019,23,30,18,5,300,25,325
4,3,0,5,1.0,8,13302,1,3,2019,21,35,16,50,240,45,285